

body {
  background: #EEE;
  font-family: 'Raleway', sans-serif;
  --red: #e35d5b;
}

.headline {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.headline .title {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 3.5rem;
  color: #444;
  border-bottom: 2px dotted var(--red);
  padding-bottom: 1rem;
}
.headline .title h1 {
  margin: 0rem;
}
.headline i {
  font-size: 7.5rem;
  color: var(--red);
  margin-bottom: -1.2rem;
}
.headline h4 {
  font-size: 1.5rem;
  color: #777;
}